@import "public";
.containter{
    margin:20px auto;
    width:1000px;
    font-family: "Microsoft YaHei";
    color:#666;
    .buy{
        background: #e5e5e5;
        width:400px;
        height:469px;
        float: left;
        padding:30px;
        .buy-p{
            color: #c79b8f;
            font-size:20px;
            text-align: center;
        }
        ul{
            list-style: none;
            padding:0;
            margin:40px 0 0;
            li{
                padding:10px 0;
                margin:0;
                outline:1px solid #fff;
                width:100px;
                float:left;
                text-align: center;
                font-family: "Microsoft YaHei";
                .drink-name{
                    margin:4px 0;
                }
            }
        }
    }
    .drop{
        background: #e5e5e5;
        width:278px;
        height:469px;
        float: left;
        padding:30px;
        margin:0 1px;
        .drop-p{
            color: #c79b8f;
            font-size:20px;
            text-align: center;
        }
        .left-time{
            .time{
                font-size:30px;
                color: #e08aa2;
            }
        }
        .can-use{
            height:86px;
            background: #fff;
            margin:10px auto;
            text-align: center;
            font-size:25px;
            line-height:86px;
            font-weight: 700;
            @include border-radius(3px);
            @include box-shadow(3px 3px 3px #d3d7e6);
        }
        .drop-money-title{
            text-align: center;
            margin:50px auto 20px;
        }
        .drop-money{
            input{
                cursor:pointer;
                border:0;
                outline:0;
                color:#fff;
                background: #1b9c8a;
                display: block;
                float: left;
                width:40px;
                height:20px;
                margin:0 3.1px;
                @include border-radius(3px);
                @include box-shadow(0 1px 0 #406870);
                &:focus{
                    border: 0;
                    outline: 0;
                    color: #fff;
                }
                &:hover{
                    background: #1f877b;
                }
                &:active{
                    border: 0;
                    outline: 0;
                    background: #379c97;
                    color: #fff;
                    @include box-shadow(0 0 0 #406870);
                }
            }
        }
        .back{
            width:100%;
            input{
                cursor:pointer;
                margin:20px auto;
                display: block;
                width:129px;
                height:30px;
                font-family: "Microsoft YaHei";
                font-size:18px;
                letter-spacing: 10px;
                text-indent: 10px;
                @include border-radius(3px);
                border:0;
                outline:0;
                color: #fff;
                background: #1b9c8a;
                @include box-shadow(0 3px 0 #406870);
                &:focus{
                    border: 0;
                    outline: 0;
                    color: #fff;
                }
                &:hover{
                    background: #1f877b;
                }
                &:active{
                    border: 0;
                    outline: 0;
                    background: #379c97;
                    color: #fff;
                    @include box-shadow(0 2px 0 #406870);
                }
            }
        }
        .left-time{
            width:80%;
            margin:30px auto;
            text-align: center;
            .time{
                @include inline-block;
                width:40px;
            }
        }
        .back-money{
            width:80%;
            margin:40px auto;
            text-align: center;
            .pocket{
                @include inline-block;
                width:40px;
                height:25px;
                margin:0 10px;
                text-align: center;
                line-height: 25px;
                @include box-shadow(3px 3px 3px #d3d7e6);
                @include border-radius(3px);
                background: #fff;
            }
        }
    }
    .out{
        background: #e5e5e5;
        width:140px;
        height:469px;
        float: left;
        padding:30px;
        .out-p{
            color: #c79b8f;
            font-size:20px;
            text-align: center;
        }
        .out-box{
            width:140px;
            height:364px;
            margin:35px auto 0;
            @include box-shadow(3px 3px 3px #d3d7e6);
            @include border-radius(3px);
            background: #fff;
            text-align: center;
            padding:20px 0;
        }
    }
}